---
import { fade } from "astro:transitions";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main transition:animate={fade({ duration: "0.2s" })}>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="flex">
                <div class="w-24 text-nowrap text-sm text-[color:var(--secondary-color)] min-w-24">
                  <FormattedDate date={post.data.pubDate} />
                </div>
                <div class="w-1" />
                <a
                  class="visited:text-[color:var(--link-visited-color)] text-[color:var(--link-color)] w-[calc(70ch-13em)] "
                  href={`/blog/${post.slug}/`}
                >
                  {post.data.title}
                </a>
                <div class="text-[color:var(--secondary-color)] ml-auto max-w-[9em] hidden sm:inline-block">
                  {post.slug.search("/") == -1 ? "" : post.slug.split("/")[0]}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
