---
import { fade } from "astro:transitions";
import { Image } from "astro:assets";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import "../../styles/photography.css";

const posts = (await getCollection("photography")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// should be: Record<string, () => Promise<{default: ImageMetadata}>>
// instead: Record<string, () => Promise<unknown>>
// use any to avoid ts being angry
const images: any = import.meta.glob(
  "/src/assets/photography/*.{jpeg,jpg,png,gif}",
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      img {
        padding-top: 0;
        max-width: min(360px, 50vw);
      }
      li {
        display: flex;
        flex-direction: row;
      }
      li div {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
      }
      li div h3 {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main transition:animate={fade({ duration: "0.2s" })}>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/photography/${post.slug}/`}>
                  <Image
                    class="cover-image"
                    src={images[
                      `/src/assets/photography/${post.data.heroImage}`
                    ]()}
                    alt={post.data.title}
                    loading="eager"
                    style={{
                      filter: "none",
                    }}
                    transition:name={`cover-${post.data.title}`}
                  />
                </a>
                <div>
                  <h3>{post.data.title}</h3>
                  <p>{post.data.description}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
