---
import { fade } from "astro:transitions";
import { Image } from "astro:assets";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("photography")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
// should be: Record<string, () => Promise<{default: ImageMetadata}>>
// instead: Record<string, () => Promise<unknown>>
// @ts-ignore don't know if this is a bug or not
const images: Record<string, () => Promise<{ default: ImageMetadata }>> =
  import.meta.glob("/src/assets/photography/*.{jpeg,jpg,png,gif}");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main transition:animate={fade({ duration: "0.2s" })}>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <div class="group my-4 flex">
                  <a
                    href={`/photography/${post.slug}/`}
                    class="w-32 min-w-32 md:w-96 md:min-w-96"
                  >
                    <Image
                      class="mx-auto w-32 rounded-none transition-all duration-200 ease-in-out md:w-80 md:group-hover:w-96"
                      src={images[
                        `/src/assets/photography/${post.data.heroImage}`
                      ]()}
                      alt={post.data.title}
                      loading="eager"
                      style={{
                        filter: "none",
                      }}
                      transition:name={`cover-${post.data.title}`}
                    />
                  </a>
                  <div class="grow" />
                  <div class="ml-4 mt-1 flex flex-col gap-1 md:mt-5 md:gap-3">
                    <h3 class="text-right text-xl md:text-2xl">
                      {post.data.title}
                    </h3>
                    <p class="text-xs md:text-sm">{post.data.description}</p>
                    <p class="hidden text-right text-xs text-[color:var(--secondary-color)] transition-all group-hover:block">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
