---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <script src="../LoadGiscus.ts"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <Image
              width={720}
              height={360}
              src={heroImage}
              alt=""
              loading="eager"
            />
          )
        }
        <h1 class="text-3xl">{title}</h1>
        <p>{description}</p>
        <div class="flex my-1 text-[color:var(--secondary-color)]">
          <FormattedDate date={pubDate} />
          <div class="grow"></div>
          {
            updatedDate && (
              <div class="last-updated-on italic">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr class="mt-1 mb-3" />
        <div
          class="prose max-w-full prose-headings:text-[color:var(--color)] text-[color:var(--color)] prose-strong:text-[color:var(--color)] prose-blockquote:text-[color:var(--color)] prose-h1:font-bold prose-h1:text-xl prose-a:text-[color:var(--link-color)] prose-p:text-justify prose-img:rounded-xl prose-img:mx-auto prose-blockquote:px-5 prose-blockquote:border-[color:var(--secondary-color)] prose-blockquote:border prose-li:my-0 prose-ul:mt-0 prose-code:text-[color:var(--color)] prose-pre:code:bg-transparent"
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
