---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/photography.css";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

// should be: Record<string, () => Promise<{default: ImageMetadata}>>
// instead: Record<string, () => Promise<unknown>>
// use any to avoid ts being angry
const images: any = import.meta.glob(
  "/src/assets/photography/*.{jpeg,jpg,png,gif}",
);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <script>
      import "../components/CopyCodeButton/CCB.js";
      import "../components/CopyCodeButton/create_CCB.js";
    </script>
    <script src="../LoadGiscus.ts"></script>
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
      img {
        padding-top: 0;
      }
      .blog-date {
        font-size: 0.9em;
        color: var(--text-color-secondary);
        display: flex;
      }
      .blog-date > div {
        margin-left: 3em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <Image
              class="cover-image"
              src={images[`/src/assets/photography/${heroImage}`]()}
              alt=""
              transition:name={`cover-${title}`}
            />
          )
        }
        <h1 class="title">{title}</h1>
        <p class="description">{description}</p>
        <div class="blog-date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
