---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

// should be: Record<string, () => Promise<{default: ImageMetadata}>>
// instead: Record<string, () => Promise<unknown>>
// use any to avoid ts being angry
const images: any = import.meta.glob(
  "/src/assets/photography/*.{jpeg,jpg,png,gif}",
);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <script src="../LoadGiscus.ts"></script>
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
      img {
        padding-top: 0;
      }
      .blog-date {
        font-size: 0.9em;
        color: var(--text-color-secondary);
        display: flex;
      }
      .blog-date > div {
        margin-left: 3em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <Image
              class="max-w-[min(28rem, 80vw)] mx-auto my-2 block h-auto max-h-[80vh] w-auto rounded-none"
              src={images[`/src/assets/photography/${heroImage}`]()}
              alt=""
              loading="eager"
              transition:name={`cover-${title}`}
            />
          )
        }
        <h1 class="text-3xl">{title}</h1>
        <p>{description}</p>
        <div class="my-1 flex text-[color:var(--secondary-color)]">
          <FormattedDate date={pubDate} />
          <div class="grow"></div>
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr class="mb-3 mt-1" />
        <div
          class="prose max-w-full text-[color:var(--color)] prose-headings:text-[color:var(--color)] prose-h1:text-xl prose-h1:font-bold prose-p:text-justify prose-a:text-[color:var(--link-color)] prose-blockquote:border prose-blockquote:border-[color:var(--secondary-color)] prose-blockquote:px-5 prose-blockquote:text-[color:var(--color)] prose-strong:text-[color:var(--color)] prose-ul:mt-0 prose-li:my-0 prose-img:mx-auto prose-img:max-h-[calc(100vh-50px)] prose-img:w-auto prose-img:max-w-[calc(100%-20px)] prose-img:rounded-none prose-img:pt-10 prose-img:shadow-xl"
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
